<h2><%= @user.name %></h2>
<%= @user.email %> <br />
<%= link_to "Edit Profile", edit_user_path(@user) %>

<h3>Posts</h3>
<% @posts.each do |post| %>
	<li><%= link_to post.title, post.source %>
		<br />
		<%= link_to "Edit Post", edit_post_path(post.id) %>
		<%= link_to "Delete Post",
						post_path(post),
						method: :delete,
						data: {confirm:
										"Are you sure you want to delete this post?"
									}
		%>
	</li>
<% end %>